<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330135912980-h5301ij42o9plufo22hnlu3494iffqj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330135912980-h5301ij42o9plufo22hnlu3494iffqj9</string>
	<key>API_KEY</key>
	<string>AIzaSyCMYhNEm9y71weH75QdMeXNHhUk_tJ3f6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>330135912980</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viwahalk.app</string>
	<key>PROJECT_ID</key>
	<string>viwaha-couple</string>
	<key>STORAGE_BUCKET</key>
	<string>viwaha-couple.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330135912980:ios:21bb80ce3c8ae0388b5d01</string>
</dict>
</plist>